<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.unizar.eina.hotelRural">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.hotelRural">
        <activity
            android:name=".ReservasList"
            android:exported="false"
            android:label="@string/title_activity_tabs_res"
            android:theme="@style/Theme.hotelRural.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".HabitationsList"
            android:exported="false"
            android:label="@string/title_activity_tabs_hab"
            android:theme="@style/Theme.hotelRural.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Home"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".fragments.adapterPopUp" />
        <activity android:name=".fragments.adapterPopUpRes" />
        <activity android:name=".NoteEdit" />
        <activity
            android:name=".CrearHabitacion"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ConsultarHabitacion" />
        <activity android:name=".ModificarHabitacion"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".CrearReserva1"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".CrearReserva2"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".ConsultarReserva1" />
        <activity android:name=".ConsultarReserva2" />
        <activity android:name=".ModificarReserva1"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ModificarReserva2"
            android:windowSoftInputMode="adjustNothing" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>